<%= render partial: 'modules/header' %>

<div class="food__container"> 
  <div class="side-bar">
    <nav id="navbar-example3" class="navbar navbar-light bg-light position-fixed">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">食べやすい食べ物と<br>食べにくい食べ物</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">食べにくい食べ物</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#item-1-1">硬いもの</a>
          <a class="nav-link ml-3 my-1" href="#item-1-2">噛むとばらけるもの</a>
          <a class="nav-link ml-3 my-1" href="#item-1-3">物性が均一でないもの</a>
          <a class="nav-link ml-3 my-1" href="#item-1-4">水分が少ないもの</a>
        <a class="nav-link" href="#item-2">食べやすい食べ物</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#item-2-1">まとまりのあるもの</a>
          <a class="nav-link ml-3 my-1" href="#item-2-2">物性が均一であるもの</a>
          <a class="nav-link ml-3 my-1" href="#item-2-3">柔らかいもの</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="food__main">
    <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
      <h4 id="item-1">食べやすい食べ物と食べにくい食べ物</h4>
      <p>
      嚥下障害がある方にとって食べやすいもの・食べにくいものがあるのはご存知でしょうか？<br>
      年始に「餅を喉につまらせる」というニュースが流れることがあるので、「餅は食べにくいもの」<br>
      と認知している方も多いと思います。<br>
      しかし、他にも食べにくい食材は多く存在します。<br>
      例を挙げながら説明していきます。
      </p>

      <h4 id="item-1">食べにくい食べ物</h4>
      <p>
      食べにくい食べ物について紹介します。<br>
      実は下に上げたものの他にも、誤嚥しやすいものが存在します。<br>
      それは「水」と「唾液」（水については次の章で説明します）<br>
      唾液は口の中に常にあります。<br>
      唾液は体温と同じ温度のため知覚しにくく、一度に飲み込む量も多く無いため、知らないうちに<br>
      誤嚥してしまうことがあります。<br>
      口腔内が汚れている状態の唾液を誤嚥すると、肺炎の原因になります。<br>
      食後・寝る前は必ず口腔内を清潔にするようにしましょう。
      </p>


      <h5 id="item-1-1">① 硬いもの</h5>
      <p>
      せんべいなどが挙げられます。<br>
      飲み込むためには粉々に砕いて、ペースト状にしなければなりません。<br>
      せんべいは硬く、歯が無いと砕いて食べることが困難になります。<br>
      飴は棒付きのものであれば大丈夫ですが、食べてもらう前に割れかけていないかを確認しましょう。<br>
      舐めて食べられない方（噛んで食べてしまう方）への提供はおすすめしません。<br>
      ゴボウなど、硬めの野菜はよく煮て柔らかくしてから提供するといいと思います。
      </p>

      <h5 id="item-1-2">噛むとばらけるもの</h4>
      <p>
      こちらは、せんべいやクッキーなどが挙げられます。<br>
      口の中でまとまりにくい食べ物は、喉の方へもばらけた状態で入ってしまうため、<br>
      飲み込みにくい食べ物となります。<br>
      意外ですが、寒天も食べにくい食べ物です。潰してみるとわかるのですが、<br>
      粉々にするとまとまってはくれません。<br>
      寒天はゼリーの代わりにはならないので注意しましょう。
      </p>

      <h5 id="item-1-3">物性が均一でないもの</h5>
      <p>
      こちらは高野豆腐やがんもどき、果汁の多い果物などが挙げられます。<br>
      とろみのない水はムセやすい食べ物の１つです。<br>
      高野豆腐などは噛むと水分が出てきます。つまり、口腔内には「高野豆腐」と「水分」が<br>
      存在することになります。<br>
      この２つは喉へ入った時の落ちる速度が違うため、ムセの原因となります。<br>
      噛むと汁が出てくる食事は避けましょう。果物は細かく潰してペースト状にし、とろみをつけると<br>
      食べることができる場合もあります。
      </p>


      <h5 id="item-1-4">水分が少ないもの</h5>
      <p>
      パン・海苔、あと先ほど述べたせんべい等が挙げられます。<br>
      水分の少ないものは口腔内に張り付いたり、食物を唾液と混ぜ合わせペースト状にすることが<br>
      難しくなります。<br>
      海苔の場合は口の中などに張り付いてしまうため危険です。<br>
      ご飯に何かのせないと食べにくい方もいらっしゃると思います。その際はふりかけではなく<br>
      練り梅や海苔の佃煮にしてください。<br>
      意外に食べにくいものがパンです。<br>
      病院や施設の朝食でパンは出ることが多いのですが、よく噛んでペースト状にできないと、<br>
      喉へ塊のまま落ちていってしまいます。<br>
      誤嚥というよりかは、窒息事故が起こりやすい食べ物という印象です。<br>
      あまり嚥下障害がある方へはパンはおすすめしないのですが、もしどうしても食べたいとの希望が<br>
      あるのであれば、パンを牛乳に浸した「パンがゆ」にしてみてはどうかと思います。
      </p>

      <h4 id="item-2">食べやすい食べ物</h4>
      <p>
      次に食べやすい食べ物を紹介します。<br>
      食べやすい食べ物は、基本的に食べにくい食べ物の反対の性質を持っていると考えてもらって<br>
      大丈夫です。
      </p>

      <h5 id="item-2-1">まとまりのあるもの</h5>
      <p>
      これは、バナナなどが挙げられます。<br>
      潰しても一つのまとまった形になり、ばらけないまま咽頭へ送ることが可能です。<br>
      食べにくいと思われがちなものですが、乳ボーロなど唾液で容易に溶けひとまとまりになる<br>
      おやつは飲み込みにくさを持っている方にとって食べやすいものとなります。
      </p>

      <h5 id="item-2-2">物性が均一であるもの</h5>
      <p>
      ゼリーやプリンなどのようなものが挙げられます。<br>
      物性が均一だと、先に何かが咽頭に流れ落ち、次に違うものが咽頭に流れ落ちるという<br>
      タイミングのずれを防ぐことができます。
      </p>

      <h5 id="item-2-3">柔らかいもの</h5>
      <p>
      こちらはお粥のようなものが挙げられますが、お粥はそのままだと食べにくい食べ物になります。<br>
      なぜかというと、唾液と混ざり合うと水っぽくなってしまうためです。<br>
      お粥を食べやすくするためには少しトロミを入れるといいかと思います。
      </p>
      <%= link_to "ホームに戻る", home_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
<script>
$('body').scrollspy({ target: '#navbar-example3' })
</script>

