<%= render partial: 'modules/header' %>


<div class="aspiration__container"> 
  <div class="side-bar">
    <nav id="navbar-example3" class="navbar navbar-light bg-light position-fixed">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">誤嚥とは</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#item-1-1">誤嚥について</a>
        <a class="nav-link" href="#item-2">誤嚥の種類</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#item-2-1">嚥下前誤嚥</a>
          <a class="nav-link ml-3 my-1" href="#item-2-2">嚥下中誤嚥</a>
          <a class="nav-link ml-3 my-1" href="#item-2-3">嚥下後誤嚥</a>
          <a class="nav-link ml-3 my-1" href="#item-2-4">不顕性誤嚥</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="aspiration__main">
    <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
      <h4 id="item-1">誤嚥とは</h4>
      <p>
      誤嚥は、食べ物が飲み込みの失敗などによって声門（声を出す器官）より下に入ってしまう事を言います。<br>
      食べ物か気道の方に行ってしまった場合、しかし声門より上で食べ物を咳などで出せた場合は<br>「喉頭侵入（こうとうしんにゅう）」と言います。
      </p>

      <h5 id="item-1-1">誤嚥について</h5>
      <p>
      誤嚥は以下の４つに分類されます。<br>
      嚥下前誤嚥：嚥下反射（ごっくん）が起こる前の誤嚥<br>
      嚥下中誤嚥：嚥下反射（ごっくん）は起こるが、タイミングがずれた時に起こる誤嚥<br>
      嚥下後誤嚥：嚥下反射（ごっくん）が起こった後の誤嚥<br>
      不顕性誤嚥：ムセがない誤嚥<br>
      </p>

      <h4 id="item-2">誤嚥の種類</h4>
      <h5 id="item-2-1">嚥下前誤嚥</h5>
      <p>
      嚥下前誤嚥（えんげまえごえん）は、嚥下反射が起こる前の誤嚥です。<br>
      この誤嚥は喉の方に食物が流れ落ちているにも関わらず、嚥下反射が起こらない時に出ます。<br>
      主な原因は舌・口腔周囲の筋肉の筋力低下や知覚の低下などです。<br>
      ・筋力低下によって、口の中に食べ物が保持できない<br>
      ・食べ物が喉の方に流れてきても気づかない<br>
      等の理由が重なり、気道の方へ食物が入ってからムセが出現します。<br>
      </p>

      <h5 id="item-2-2">嚥下中誤嚥</h5>
      <p>
      嚥下反射は起こるが、タイミングがずれた時に起こる誤嚥のことです。<br>
      この誤嚥は様々な要因が考えられます。<br>
      ・加齢や脳血管疾患による知覚の低下<br>
      ・加齢による喉頭の下垂（喉仏を上げる筋力の低下）<br>
      ・飲み込みに関する筋肉の筋力低下<br>
      ・意識レベルの低下<br>
      ・るい痩（極端なやせ）による咽頭腔の拡大  など<br>
      飲み込んでいる様には見えるけど、嚥下後すぐにムセが出現します。
      </p>

      <h5 id="item-2-3">嚥下後誤嚥</h5>
      <p>
      嚥下後誤嚥はのどに残った食物が、気管の方へ流れ落ちることによって出現します。<br>
      主な要因は<br>
      ・嚥下に関する筋肉の筋力低下により、しっかりと飲み込みができていない<br>
      ⇨食道入口部（食道への入り口。基本は閉じており、嚥下の時のみ弛緩する）が開ききらない<br>
      ・梨状窩（りじょうか）に残っていた食物が気管へ流れ落ちる<br>
      （梨状窩：食道の入り口付近にある窪み。左右１つずつ存在する）
      </p>

      <h5 id="item-2-4">不顕性誤嚥</h5>
      <p>
      不顕性誤嚥（ふけんせいごえん）とはムセの無い誤嚥のことをいいます。<br>
      健康で、何も病気が無いに人は喉頭へ異物が入ってきた時にムセが起こります。<br>
      不顕性誤嚥では誤嚥しているにも関わらず、ムセがみられないため、肺炎や痰の増加、発熱<br>
      が起こって気付かれるケースが多いです。<br>
      この誤嚥の主な原因は知覚の低下が考えられます。
      </p>

      <p>
      ムセや誤嚥があったとしても、すぐに肺炎になるわけではありません。<br>
      本人の喀出能力、免疫、肺の自浄機能が勝っていた場合は肺炎にはなりません。<br>
      ただし、誤嚥はしない方が絶対に良いので、以下のことがあれば注意してみましょう<br>
      ・口の奥の方を触っても全くオエっとならない（咽頭反射がみられない）<br>
      ・舌の動きが緩慢で、話が聞き取りづらい<br>
      ・ずっと微熱が続いている<br>
      ・痰や咳が多い<br>
      ・食事が飲み込み辛そう、食事中に咳が出ている
      </p>
    </div>
      <%= link_to "ホームに戻る", home_path, class:"btn btn-primary" %>

  </div>

</div>

<script>
$('body').scrollspy({ target: '#navbar-example3' })
</script>

