<%= render partial: 'modules/header' %>


<div class="container">

  <div class="card mb-4">
    <h5 class="card-header">ケース１</h5>
    <div class="card-body">
      <h5 class="card-title">食事中のムセ</h5>
      <p class="card-text">
      </p>
      ・粗めに刻んだ食事とお粥を自分で食べている<br>
      ・お茶はかなり薄くとろみを付けている<br>
      ・食事開始から１５分程度たってから軽いむせがみられる<br>
      なぜこの方がむせるのか、どうすればむせが改善するか考えてみましょう！
      <p>

        <button class="btn btn-primary mt-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          answer ⇨
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          　この方の場合は食事開始すぐからむせるのではなく、しばらくたってからむせ始めていることより
          お粥が唾液により物性が変わってきていることが一番に考えられると思います。<br>
          　あとは粗めに刻んだ食事を食べているので、咀嚼回数や飲み込み回数が多いのであれば疲労も
          考慮しなければならないと思います。<br>
          改善策としては、以下のようなものが考えられます。<br>
          ①食事開始前にお粥にとろみ調整剤を入れる<br>
          ②今の食事を食べ終えるのに30分以上かかる場合は食事形態の変更を考慮に入れる
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-4">
    <h5 class="card-header">ケース２</h5>
    <div class="card-body">
      <h5 class="card-title">嘔吐（おうと）</h5>
      <p class="card-text">
      </p>
      ・ベッド上で介助で食事を行う<br>
      ・食事が終了したため、ベッドの頭部分を真っ直ぐになるまで下げる（ギャッチアップフラット）<br>
      ・頭部分を下げてすぐに嘔吐<br>
      嘔吐後の処置と、嘔吐の原因を考えてみてください
      <p>

        <button class="btn btn-primary mt-4" type="button" data-toggle="collapse" data-target="#collapse1Example" aria-expanded="false" aria-controls="collapseExample">
          answer ⇨
        </button>
      </p>
      <div class="collapse" id="collapse1Example">
        <div class="card card-body">
        　まずはじめに、食後すぐに横になると胃の内容物が逆流することがあるため、注意しましょう。今回の場合は
        食後すぐに横になった（仰臥位）ことによって起こった可能性が考えられます。<br>
        　嘔吐物は強い酸性のため、誤嚥すると急性の肺炎症状（Mendelson症候群）を呈します。<br>
        今回の場合は以下のような対策が考えられます（医療行為ができない場合）<br>
        ①食後すぐはギャッチアップフラットにせず、30分程度上体をあげておく（ギャッチアップ30度程度）<br>
        ②嘔吐物を誤嚥しないよう身体を仰向けから横向き（側臥位）に変えながら、すぐに応援を呼ぶ<br>
        嘔吐後は状態が急変することがあるため、目を離さないようにしましょう！
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">ケース３</h5>
    <div class="card-body">
      <h5 class="card-title">食事量が少ない</h5>
      <p class="card-text">
      </p>
      ・普通の食事をむせることなく食べることができる<br>
      ・お茶はかなり薄くとろみを付けている<br>
      ・食欲があまりなく、毎食出した食事の1/3程度しか食べない<br>
      ・血液検査では栄養状態は悪くはないが、痩せている<br>
      なぜ痩せているにも関わらず血液検査では問題がないのか、食事量が少ない場合どうすれば良いか考えてみましょう！
      <p>

        <button class="btn btn-primary mt-4" type="button" data-toggle="collapse" data-target="#collapse2Example" aria-expanded="false" aria-controls="collapseExample">
          answer ⇨
        </button>
      </p>
      <div class="collapse" id="collapse2Example">
        <div class="card card-body">
        まずはじめに、血液検査から栄養状態を知る方法について説明します。<br>
        血液検査結果の中に血清アルブミン値（Alb）というものがあります。これは血液中のタンパク質の一種です。<br>
        この値を見て栄養状態が判断できる場合もあります。以下参考にしてください。（検査機関によって基準値は若干上下します）<br>
        ①基準値：3.5〜5.0g/dL<br>
        ②軽度低栄養：3.0〜3.5g/dL<br>
        ③中等度低栄養：2.0〜3.0g/dL<br>
        ④重度低栄養：2.0g/dL 以下<br>
        今回のケースでは検査上は低栄養状態ではなかったのですが、このような場合「脱水状態」の可能性があります。
        体の中の水分が足りないと血液濃度が上がり、見かけ上は低栄養ではない状態になることがあります。<br>
        この方は通常の食事を食べることができる嚥下状態であるので以下のような方法を取ってはどうかと思います。<br>
        ①１日の食事回数を増やす<br>
        ②食事に高カロリージュースを補食でつける<br>
        最近は高カロリージュースだけでなくアイスなども販売されており、味の種類も増えてきています。
        美味しく食べれるものを選びましょう。
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">ケース４</h5>
    <div class="card-body">
      <h5 class="card-title">声を出すとゴロゴロ音が鳴る</h5>
      <p class="card-text">
      </p>
      ・細かく刻んだ食事とお粥（とろみ調整剤あり）を自分で食べている<br>
      ・お茶は濃いとろみを付けている<br>
      ・むせはないが、食事中・食後に会話すると喉からゴロゴロ音がする<br>
      ・日常的に痰が多い
      <p>

        <button class="btn btn-primary mt-4" type="button" data-toggle="collapse" data-target="#collapse3Example" aria-expanded="false" aria-controls="collapseExample">
          answer ⇨
        </button>
      </p>
      <div class="collapse" id="collapse3Example">
        <div class="card card-body">
        食後に声にゴロゴロ音が混じる理由は「咽頭残留（いんとうざんりゅう）」が原因の場合が多いです。
        これは１度では飲み込みきれずに喉に残った食物があるということを示します。<br>
        このケースでは細かく刻んだ食事を食べているので、嚥下後に少量刻んだ食事が喉に残っている可能性があります。<br>
        痰も多いので極少量誤嚥している可能性もあります。<br>
        この方の場合は以下の対策を取ってみてはどうかと考えます。<br>
        ①食事形態の考慮（刻んだ食事ではなく、ペースト状やゼリー状の食事に変える）<br>
        ②１口食事を食べた後に１口とろみのついたお茶を飲む（交互嚥下）で、喉に残った食べ物を胃の方へ流す
        </div>
      </div>
    </div>
  </div>
  <div class="home__button">
    <%= link_to "ホームに戻る", home_path, class:"btn btn-primary" %>
  </div>
</div>