<%= render partial: 'modules/header' %>

<body class="swallowing__body">
  <body class="swallowing__body__main">
    <div class="swallowing__container"> 
      <div class="side-bar">
        <nav id="navbar-example3" class="navbar navbar-light bg-light position-fixed">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">嚥下とは</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#item-1-1">嚥下について</a>
            <a class="nav-link" href="#item-2">嚥下５期とは</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#item-2-1">認知期</a>
              <a class="nav-link ml-3 my-1" href="#item-2-2">準備期</a>
              <a class="nav-link ml-3 my-1" href="#item-2-3">口腔期</a>
              <a class="nav-link ml-3 my-1" href="#item-2-4">咽頭期</a>
              <a class="nav-link ml-3 my-1" href="#item-2-5">食道期</a>
            </nav>
          </nav>
        </nav>
      </div>

      <div class="swallowing__main">
        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
          <h4 id="item-1" >嚥下とは</h4>
          <p>
          現場に出ると、よく聞かれる様になる「摂食（せっしょく）」「嚥下（えんげ）」。<br>
          嚥下は「飲み込むこと」と「飲み込むための動作」だけを意味します。<br>
          摂食は食べることに必要な「動作全て」を表しています。<br>    
          ここでは、飲み込むための動作である「嚥下」について説明していきます。  
          </p>

          <h5 id="item-1-1">嚥下について</h5>
          <p>
          嚥下のリハビリテーション（以下リハビリ）を行う際には、飲み込み動作を５つに分けて<br>
          考えていることが多いです。<br>
          その様に考えることで、「どこで」「どの様な」障害があり、飲み込みにくさが出ているのかが<br>分かりやすくなります。<br>
          </p>

          <h4 id="item-2">嚥下５期とは</h4>
          <p>
          嚥下動作を５つに分けると以下の様になります。<br>
          １、食べ物を認識する（認知期）<br>
          ２、食べ物を飲み込みやすい形に変える（準備期）<br>
          ３、食べ物を喉まで送る（口腔期）<br>
          ４、食べ物を食道まで送る（咽頭期）<br>
          ５、食べ物を胃まで送る（食道期）<br>
          では、１つずつ詳しくみていきましょう！
          </p>

          <h5 id="item-2-1">認知期</h5>
          <p>
          例えば、アメだったら…「なめて食べよう」<br>
          せんべいだったら…「よく噛まないといけないな」<br>
          熱い食べ物なら…「少し冷ましてから食べよう」<br>
          など、人はどんな食べ物をこれから食べるのか？を認識してから食べています。<br>
          認知期では食べ物を見て、「その食べ物はどんな風に食べればいいのか」という準備をします。<br>
          意識レベルが、JCS（Japan Coma Scale）Ⅰ桁台であることが食べることができる<br>
          指標の１つとなります。（JCS:Ⅰ桁　→刺激しないでも覚醒している状態）
          </p>

          <h5 id="item-2-2">準備期</h5>
          <p>
          例えば、固い食べ物なら、噛んで柔らかいまとまりにする<br>
          麺など、長い食べ物なら短く噛み砕く<br>
          など、準備期では飲み込みやすい形に口の中で変える動作を行います。<br>
          </p>

          <h5 id="item-2-3">口腔期</h5>
          <p>
          「飲み込む」という一瞬の動作を行います。<br>
          この時、私たちは舌を上顎にしっかり付け、鼻への通り道を閉じて、喉へ食べ物を運んでいます。<br>
          この時の舌を上顎に付ける力が弱いと、上手に飲み込むことができないことがあります<br>
          時々、食事中に鼻汁が出てくる方がいますが、食事のみに鼻汁が出るのであれば、<br>
          鼻への通り道を閉じる蓋（口蓋帆）が完全に閉じていない可能性があります。<br>
          </p>

          <h5 id="item-2-4">咽頭期</h5>
          <p>
          食べ物を食道へ送る動作を行います。<br>
          実は、食べ物の通り道と、空気の通り道は途中まで同じなのです。<br>
          人は肺へ食べ物が入らないように、喉に食べ物が来ると少しの間、気管にフタをします。<br>
          この蓋のことを「喉頭蓋（こうとうがい）」といいます。<br>
          それと同時に食道への入り口（食道入口部）の筋肉を緩め、食べ物を食道へと運びます。<br>
          食べ物を食道へ運び終えると気管の蓋が開き、呼気（吐く息）から呼吸が再開します。<br>
          この全ての動作が約0.5秒の間に行われます。<br>
          ほとんどの人が嚥下後は呼気から始まりますが、少数ではありますが吸気（吸う息）から<br>
          呼吸が開始する方もいます。
          </p>

          <h5 id="item-2-5">食道期</h5>
          <p>
          食道へ入った食べ物を胃へと送る動作のことを表します。<br>
          食道から胃へ、食べ物は蠕動運動によって運ばれます。<br>
          この時、私たちは逆さを向いていても食べ物が逆流してくることはありません。<br>
          このようにして私たちは食事をしているのです。
          </p>
        </div>
          <%= link_to "ホームに戻る", home_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</body>
<script>
$('body').scrollspy({ target: '#navbar-example3' })
</script>


