<div class="enter-container">
  <div class="enter-container__contents">
    <div class="enter-container__contents__title">
      <h1>Swallowing World</h1>
    </div>
    <div class="enter-container__contents__enter">
      <%= link_to "新規登録", new_user_registration_path, class: "enter-container__contents__enter__detail-left" %>
      <%= link_to "ログイン", new_user_session_path, class: "enter-container__contents__enter__detail-right" %>
    </div>
</div>


