<%= render partial: 'modules/header' %>


<div class="toromi__container"> 
  <div class="side-bar">
    <nav id="navbar-example3" class="navbar navbar-light bg-light position-fixed">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">とろみとは</a>
        <a class="nav-link" href="#item-2">とろみの付け方</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#item-2-1">水分</a>
          <a class="nav-link ml-3 my-1" href="#item-2-2">牛乳・ジュース</a>
          <a class="nav-link ml-3 my-1" href="#item-2-3">その他の食事</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="toromi__main">
    <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
      <h4 id="item-1">とろみとは</h4>
      <p>
      とろみは咽頭に早く流れ落ちてしまう水分を、ゆっくり落ちるように変えてくれるものです。<br>
      一般的にお茶や水などの飲み物に付けますが、水分のあるものであれば何でもつけることが可能です。<br>
      とろみを３段階で分ける方法が最もよく使用されています。しかし表現だけでは抽象的になり、<br>
      粘度計は一般的ではないと思うので、ここでは200mlにに大しての大さじ・小さじで表現していこうと<br>
      思います。（興味のある方は調べてみてください）<br>
      ちなみに、とろみの３段階は以下のような物です（一部抜粋）<br>
      ①薄いとろみ：スプーンを傾けるとすっと流れ落ちる<br>
      ②中間のとろみ：スプーンを傾けるとトロトロと流れ落ちる<br>
      ③濃いとろみ：スプーンを傾けても形状がある程度保たれ、流れにくい
      
      </p>

      <h4 id="item-2">とろみの付け方</h4>
      <p>
      前提としてですが、とろみは片栗粉でもつけることは可能ですが、片栗粉のとろみは唾液によって<br>
      分解されてしまうため、必ず市販のとろみ調整剤を使用してください。<br>
      最近はどの薬局でも介護用品グッズのある場所においてあります。<br>
      使用期限があるため、それほどたくさんの量はいらない場合は数gずつ小包装になっているものが<br>
      良いと思います。日常的に使い続けるのであれば大袋の方が安価です。<br>
      まずはじめに、全ての食品で共通すつるとろみの付け方ですが<br>
      ①とろみ調整剤はかき混ぜながら少しずつ入れる、または調整剤を先に入れたときは水分を勢いよく<br>
      注ぎ入れながらかき混ぜる（×とろみ調整材を一気に入れてからかき混ぜる）<br>
      商品によって違いはありますが、すぐにかき混ぜないと調整剤の塊が残ります。<br>
      この塊が窒息の原因になることもあります。
      </p>

      <h5 id="item-2-1">水分</h5>
      <p>
      水分は他の食品と比べ、とろみがつきやすいです。商品によりますが、調整剤を入れた後数分で<br>
      強さは安定します。<br>
      以下ある程度の指標です<br>
      水分200mlに対し<br>
      ①小さじ1/2〜小さじ1：ごく軽度の飲み込み辛さがある方（ストローで飲めるのは小さじ1程度までです）<br>
      ②小さじ1〜小さじ2と1/2:中等度の飲み込み辛さがある方（食事形態にも配慮が必要な方）<br>
      ③大さじ1以上：中等度〜重度の飲み込み辛さがある方<br>
      （ペーストに近い状態まで刻んだような食事やゼリー状の食事を食べていることが多い）<br>
      個人差はあるため、人によっては重度の飲み込み辛さがある方でも薄いとろみでむせることがない方も<br>
      いらっしゃいます。人によってとろみの量は変えてください。<br>
      とろみはしっかりつけるほど良いというもでのはなく、付けすぎると誤嚥に繋がることがあります。<br>
      もし、かなりしっかりとろみを付けてもむせる場合は、ゼリー状にする必要があるかもしれません。<br>
      また、とろみは濃いほど美味しくなくなるため、必ず本人に合った量のとろみを付けましょう。
      </p>

      <h5 id="item-2-2">牛乳・ジュース</h5>
      <p>
      乳製品やジュース、スポーツドリンクはとろみが付きにくいです。<br>
      しかし、なかなかとろみが付かないからと言って、調整剤を多量に入れると後でベタベタしたものが<br>
      出来上がります。<br>
      このようなとろみが付きにくい飲み物は「２度混ぜ方」を使用してください。<br>
      ・２度混ぜ方のやり方<br>
      ①調整剤を入れて30秒程度かき混ぜる<br>
      ②15分程度時間を開ける<br>
      ③再度30秒以上かき混ぜる
      </p>

      <h5 id="item-2-3">その他の食事</h5>
      <p>
      飲み物の他にもお粥や味噌汁等料理にもとろみをつけることができます。<br>
      お粥であれば<br>
      ・小さめのお椀で小さじ1<br>
      ・大きいお椀では小さじ2<br>
      程度であれば食感が変にならずにとろみを付けられると思います。<br>
      （上記はあくまで指標です。お椀の大きさは色々あるため、少量ずつ入れて試してみてください）      
      </p>
    </div>
      <%= link_to "ホームに戻る", home_path, class:"btn btn-primary" %>
  </div>
</div>

<script>
$('body').scrollspy({ target: '#navbar-example3' })
</script>


