.device__body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('monkey');
  position: relative;
  &__contents {
    position: absolute;
    top: 19%;
    left: 8%;
    background-color: white;
    height: 350px;
    width: 280px;
    border-radius: 10px;
    &__detail {
      margin-top: 45px;
      margin-left: 50px;
      h2 {
       text-decoration : underline  grey;
       margin-bottom: 5px;
      }
    }
  } 
}

// device/passwards/new
.forgot__actions {
  margin: 20px 0px;
}

.device__body__contents__detail__notice {
  padding-bottom: 10px;
}
